@import 'https://fonts.googleapis.com/css?family=Raleway:100,400';
*{
  transition: background-color 2s, color 1s;
  font-family: 'Raleway', sans-serif;
}
body{
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}
a{
  text-decoration: none !important;
}
/*header start*/
h1, h2{
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
}
h1{
  font-size: 130px;
  font-weight: 100;
}
h2{
  font-size: 60px;
  font-weight: 100;
}
header{
  padding-top: 18%;
}
header a:hover{
  text-decoration: none;
}
.down_arrow{
  transition: all .5s;
  display: block;
  color:white;
  font-size: 30px;
  text-align: center;
  margin: auto auto;
  margin-top:150px;
  width: 30px;
}


.down_arrow:hover{
  cursor: pointer;
  font-size: 50px;
  width: 50px;
  text-decoration: none;
}

.up_arrow{
  transition: all .5s;
  display: block;
  color:white;
  font-size: 30px;
  text-align: center;
  margin: auto auto;
  /*margin-top: 150px;*/
  padding-top: 7vh;
  width: 30px;
}

.up_arrow:hover{
  cursor: pointer;
  font-size: 50px;
  width: 50px;
  text-decoration: none;
}


/*header end*/

/*bio start*/

#bio{
  margin-top: 500px;
  height: 100vh;
}

#bio h1{
  padding-top: 130px;
}

.bio_down_arrow{
  padding-top: 355px;
}

.circle{
  width: 30%;
  margin: auto auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

/*bio end*/

/*contact start*/

#contact{
  margin-top: 500px;
  height: 100vh;
}
#contact h1{
  padding-top: 200px;
}
.center{
  padding-top: 8%;
  text-align: center;
}

.contact_down_arrow{
  padding-top: 35px;
}

/*contact end*/

/*portfolio start*/
#portfolio{
  margin-top: 500px;
  height: 100vh;
  text-align: center;
}
#portfolio h1{
  padding-top: 9vh;
}

.port_image{
  width: 45%;
  margin: auto auto;
}
#portfolio .row{
  padding-top: 100px;
}
.port_2{
  display: none;
}
/*portfolio end*/
@media (max-width: 1700px) {
    .bio_down_arrow{
      padding-top: 300px;
    }
    #bio h1{
      padding-top: 50px;
    }
    #contact h1{
      padding-top:100px;
    }
}
@media (max-width: 800px){
  .bio_down_arrow{
    padding: 0;
    margin-top: 120px;
  }
  #bio h1{
    padding-top: 30px;
  }
  #contact h1{
    padding-top:30px;
  }
  #portfolio h1{
    padding: 0;
  }
  .port_1{
    display: none;
  }
  .port_2{
    margin-top: 130px;
    display: block;
  }
}
.carousel-control.right, .carousel-control.left{
  background: none;
}
