.hidden-xs{
  cursor: pointer;
}
.navbar {
background-color: #eee;
min-height: auto;
position: relative;
top: 0px;
font-family:"Droid Sans";
font-size: 20px;
width: auto;
border-bottom: none;
margin-bottom: 0px;
padding: 0px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #990000;
  background-color: transparent;
}

.navbar-brand {
padding: 10px 15px;
height: 80px;
}

@media (min-width: 768px) {
.navbar-nav {
  position: relative;
  right: -20%;
}
.navbar-nav > li {
  position: relative;
  left: -12%;
}
.navbar-nav > li a {
  line-height: 126px;
  vertical-align: middle;
  padding: 0 24px;
}
}

@media (min-width: 992px) {
.navbar-nav > li a {
  padding: 0 48px;
}
}

@media (min-width: 1200px) {
.navbar-nav > li a {
  padding: 0 68px;
}
}
.red{
  background-color: red;
  height: 600px;
}
.blue{
  background-color: blue;
  height: 600px;
}
